# Version control
.git
.gitignore

# Node.js dependencies
node_modules
npm-debug.log

# Build files
dist
build
*.tgz

# Environment variables
.env
.env.*

# Development files
*.md
.editorconfig
.eslintrc
.prettierrc
tests/
coverage/

# OS files
.DS_Store
Thumbs.db
